<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/chart.umd.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
    
    <title>Document</title>
</head>
<body>
   
    <div class="Navbar">
        <h2>Navbar</h2>
        <button id="ReduceNav"><</button>
        <div>
            <ul>
                <li>Home</li>
                <li><a href="/task">Add a task</a></li>
                <li>Portfolio</li>
            </ul>
        </div>
    </div>
    <div class="Dashboard">
        <div class="Welcome">
            <h1>Welcome back, Kevin</h1>
            <p>What have you been working on lately ?</p>

        </div>
        <div class="Filter">
            <h2>Filter</h2>
            <div>
                <a href="/?period=7">7</a>
                <a href="/?period=30">30</a>
                <a href="/">365</a>
            </div>
        </div>
        <div class="Stats">
            <h2>Stats</h2>
            <div>
                <div class="TT">
                    <h4>Total tasks</h4>
                    <h3><%= db.map((obj)=>{obj.task_name}).length %></h3>
                    
                </div>
                <div class="TH">
                    <h4>Total hours</h4>
                    <h3><%= db.reduce(function (result,item){ return result += parseInt(item.time)},parseInt(0))%></h3>
                </div>
                <div class="GP">
                    <h4>Goal progress</h4> 
                    <p>(<%=`${db.length}/${Goal*5}`%>)</p>
                    <h3><%= (db.length*100/(Goal*5)).toFixed(2)%>%</h3>
                </div>
                <div class="LT">
                    <h4>Latest task</h4>
                    <h3><%= db[db.length-1].task_name %></h3>
                </div>
            </div>
            
        </div>
        <div class="HeatMap">
            <div id="Map">
            </div>

        </div>
        <div class="PieChart">
            <canvas id="Graph_Pie" style=" height:250px; width:250px"></canvas>
             
        </div>
         
    </div>
    <script>
        // const btn = document.getElementById("ReduceNav")
        // btn.addEventListener("click",()=>{
        //     console.log('lets go')
        // })
        const ctx = document.getElementById('Graph_Pie');
        const labels = "<%= cat.map((obj)=>{return obj.category_name})%>".split(',')
        const data = "<%= cat.map((obj)=>{return obj.time})%>".split(",")

        new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Hours',
                    data: data,
                    backgroundColor: [
                        '#fc0303',
                        '#03dbfc',
                        '#31fc03',
                    ],
                    borderColor: '#1F1F1F'
                }]
            },
            options : {
                    maintainAspectRatio: false,
                    responsive: false,
                    plugins:{
                        legend:{
                            position:'top',
                            align:'start',
                            labels:{
                                color: '#FFFFFF'
                            }
                        }
                    }
                },

        });

        function showday(e,div){
            console.log(div)
        }

        function hideday(){

        }
        
        const map = document.getElementById('Map')
        let limit = '<%=Goal%>'
        let db = '<%= db.map((obj)=>{return `${obj.task_name};${obj.time};${obj.date}`})%>'.split(',')
        
        // displaying div for everyday of the year
        for (let i = 1 ; i <= limit;i++){
            const div= document.createElement('div')
            const date = `<%=dates_year%>`.split(',')
            div.setAttribute('class','day')
            

            // Matching task dates and div that will represent that date (so we can change it's aspect) 
            for(item of db){
                let taskdate = item.split(';')
                if(taskdate[2].substr(0,15)==date[i-1].substr(0,15)){
                    if (div.getAttribute('task')==null){
                        div.setAttribute('task',`${taskdate}`)
                        div.setAttribute('style','background-color:green')
                    }else{
                        div.setAttribute('task',`${div.getAttribute('task')} ; ${taskdate}`)
                    }
                }  
             }
            
            div.addEventListener("click",(e)=>{showday(e,div)})
            map.appendChild(div)
        }

    </script>
</body>
</html>